@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;600&display=swap');
@font-face {
    font-family: "IcoFont";
    font-weight: normal;
    font-style: "Regular";
    src: url("assets/fonts/icofont/icofont.woff2") format("woff2"),
    url("assets/fonts/icofont/icofont.woff") format("woff");
}
h1, h2, h3, h4, h5, h6, nav, .nav, .menu, button, .button, .btn, .price, blockquote, label, legend {
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
}
body {
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    overflow-x: hidden;
}
*, *::before, *::after {
    box-sizing: inherit;
}
html {
  scroll-behavior: smooth;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}
@media (min-width: 576px) {
.container {
    max-width: 540px;
}
}
@media (min-width: 768px) {
.container {
    max-width: 720px;
}
}
@media (min-width: 992px) {
.container {
    max-width: 960px;
}
}
@media (min-width: 1200px) {
.container {
    max-width: 1140px;
}
}
a {
    display: inline-block;
    text-decoration: none;
    color: #f3071f;
    transition: all 0.4s;
}
a, a:hover, a:focus, a[onclick] {
    text-decoration: none;
    outline: none;
    cursor: pointer;
}
a:hover {
    opacity: 0.8;
}
div {
    display: block;
}
ul, ol {
    padding-left: 20px;
    text-indent: 0;
    margin: 0 0 20px;
}
p {
    margin: 0 0 20px;
}
p:last-child {
    margin-bottom: 0;
}
h1, h2, h3, h4, h5 {
    line-height: 1.3;
    margin: 0 0 25px;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}
.headbar-desktop > .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.headbar-desktop > .container > .head-left {
    width: 20%;
}
.headbar-desktop > .container > .head-right {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}
.headbar-desktop > .container > .head-left img {
    width: 100px;
}
#header ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.headbar-desktop > .container > .head-right ul.menu > li.menu-item > a > img {
    width: 28px;
}
.headbar-desktop > .container > .head-right > .language {
    margin-left: 80px;
}
.menu-desktop ul.menu > li.menu-item {
    position: relative;
}
.menu-desktop ul.menu > li.menu-item > ul.sub-menu {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 9999;
    height: 0;
    overflow: hidden;
    opacity: 0;
    width: 0;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.menu-desktop ul.menu > li.menu-item:hover > ul.sub-menu {
    height: auto;
    opacity: 1;
    overflow: unset;
    width: 220px;
}
.menu-desktop ul.menu > li.menu-item > ul.sub-menu li.menu-item {
    position: relative;
}
.menu-desktop ul.menu > li.menu-item > ul.sub-menu li.menu-item >  ul.sub-menu {
    position: absolute;
    top: 0;
    left: 220px;
    right: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    width: 0;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.menu-desktop ul.menu > li.menu-item > ul.sub-menu li.menu-item:hover > ul.sub-menu {
    height: auto;
    opacity: 1;
    overflow: unset;
    width: 220px;
}
.menu-desktop ul.menu > li.menu-item ul.sub-menu {
    background-color: #ffffff;
    box-shadow: 0 0 1px rgb(0 0 0 / 40%);
}
.menu-desktop ul.menu > li.menu-item ul.sub-menu > li.menu-item > a {
    padding: 8px 0;
    display: block;
    border-bottom: 1px solid #f5f5f5;
    color: #000000;
    font-weight: 300;
    font-size: 14px;
}
.menu-desktop ul.menu > li.menu-item ul.sub-menu > li.menu-item {
    padding-left: 10px;
    padding-right: 10px;
}
.menu-desktop ul.menu > li.menu-item ul.sub-menu > li.menu-item:last-child > a {
    border-bottom: none;
}
.menu-desktop ul.menu > li.menu-item-has-children > a:after {
    content: "\ea67";
    font-family: IcoFont!important;
    float: right;
    margin-left: 3px;
    transition: all 0.4s;
}
.menu-desktop ul.menu > li.menu-item-has-children ul.sub-menu > li.menu-item-has-children > a:after {
    content: "\ea67";
    font-family: IcoFont!important;
    float: right;
    margin-left: 3px;
    transition: all 0.4s;
}
.menu-desktop ul.menu > li.menu-item-has-children ul.sub-menu > li.menu-item-has-children:hover > a:after {
    content: "\ea69";
    transition: all 0.4s;
}
.menu-desktop ul.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.menu-desktop ul.menu > li.menu-item {
    margin: 0 25px;
}
.menu-desktop ul.menu > li.menu-item:first-child {
    margin-left: 0;
}
.menu-desktop ul.menu > li.menu-item:last-child {
    margin-right: 0;
}
.menu-desktop ul.menu > li.menu-item > a {
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.language ul.menu-lang {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.language ul.menu-lang > li {
    padding-right: 8px;
    margin-right: 8px;
    position: relative;
}
.language ul.menu-lang > li:last-child {
    margin-right: 0;
    padding-right: 0;
}
.language ul.menu-lang > li:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-right: 2px solid #000000;
    height: 11px;
    margin: auto;
}
.language ul.menu-lang > li:last-child:after {
    content: unset;
}
.language ul.menu-lang > li > a {
    color: #000000;
    font-weight: 300;
}
@media (min-width: 992px) {
#header {
    box-shadow: 0 0 1px rgb(0 0 0 / 40%);
    position: relative;
    z-index: 1;
    background-color: #1C1C1C;
    min-height: 100px;
    z-index: 99999;
}
#header .headbar-desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
}
#header.show-heading {
    transform: translateY(-103px);
}
#header.fix-heading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(0);
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}
.headbar-desktop {
    display: block;
}
.headbar-mobile {
    display: none;
}
}

@media (max-width: 991px) {
#content {
    margin-top: 50px;
}
.headbar-desktop {
    display: none;
}
.headbar-mobile {
    display: block;
}
.headbar-mobile .head-right {
    flex-direction: column;
    align-items: flex-end !important;
}
.headbar-mobile button.btn-mobile-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: unset;
    border: none;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    padding: 0;
    color: #ffffff;
}
.headbar-mobile button.btn-mobile-menu > i {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 14px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
.headbar-mobile button.btn-mobile-menu > i > span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #254655;
    border-radius: 6px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
.headbar-mobile button.btn-mobile-menu > i > span:nth-child(1) {
    top: 0px;
}
.headbar-mobile button.btn-mobile-menu > i > span:nth-child(2), .headbar-mobile button.btn-mobile-menu > i > span:nth-child(3) {
    top: 6px;
}
.headbar-mobile button.btn-mobile-menu > i > span:nth-child(4) {
    top: 12px;
}
.headbar-mobile button.btn-mobile-menu > i  > span {
    background-color: #ffffff;
}
.headbar-mobile .menu-click button.btn-mobile-menu > i > span:nth-child(1) {
    top: 6px;
    width: 0%;
    left: 50%;
}
.headbar-mobile .menu-click button.btn-mobile-menu > i > span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.headbar-mobile .menu-click button.btn-mobile-menu > i > span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.headbar-mobile .menu-click button.btn-mobile-menu > i > span:nth-child(4) {
    top: 12px;
    width: 0%;
    left: 50%;
}
.headbar-mobile button.btn-mobile-menu > b {
    display: inline-block;
    margin-left: 6px;
    font-weight: 400;
}
.headbar-mobile {
    padding: 0 !important;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999;
    display: flex;
    align-items: center;
}
.headbar-mobile .content-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99999;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 8px 15px;
    background-color: #1C1C1C;
    box-shadow: 0 0 1px rgb(0 0 0 / 40%);
}
.headbar-mobile .content-nav > .head-left {
    width: fit-content;
}
.headbar-mobile .content-nav > .head-left > a > img {
    width: auto;
    height: 30px;
}
.headbar-mobile .content-nav > .head-right {
    width: fit-content;
}
.headbar-mobile .content-nav > .head-right button.btn-mobile-menu {
    margin: 0 0 0 auto;
}
.headbar-mobile .content-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9998;
    background-color: #ffffff;
    opacity: 0;
    height: 0;
    z-index: 99998;
    width: 100%;
    overflow: hidden;
    transition: all 0.6s ease, background 0.5s ease;
    transition-delay: 0.08s;
    box-shadow: 0 0 1px rgb(0 0 0 / 40%);
}
.headbar-mobile .menu-click .content-menu {
    padding-top: 50px;
    height: 100%;
    opacity: 1;
    transition-delay: 0.08s;
    overflow: auto;
}
.headbar-mobile .mobile-menu-nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.headbar-mobile > .container {
    padding-left: 0;
    padding-right: 0;
    height: 100%;
    max-width: unset;
}
.menu-mobile-row {
    padding: 10px 15px;
    height: 100%;
}
.menu-mobile-row ul.menu > li.menu-item > a {
    padding: 7px 0;
    display: block;
    border-bottom: 1px solid #dddddd69;
    color: #000000;
    font-weight: 400;
    font-size: 15px;
}
.menu-mobile-row ul.menu > li.menu-item ul.sub-menu > li.menu-item > a {
    padding: 7px 0;
    display: block;
    border-bottom: 1px solid #dddddd;
    color: #000000;
    font-weight: 400;
    font-size: 15px;
}
.menu-mobile-row ul.menu > li.menu-item:last-child > a {
    border-bottom: none;
}
.menu-mobile-row ul.menu > li.menu-item ul.sub-menu > li.menu-item:last-child > a {
    border-bottom: none;
}
.menu-mobile-row ul.menu > li.menu-item ul.sub-menu > li.menu-item-has-children.active > ul.sub-menu {
    border-top: 1px solid #dddddd;
}
.menu-mobile-row ul.menu > li.menu-item > ul.sub-menu > li.menu-item:first-child > a {
    border-top: none;
}
.menu-mobile-row ul.menu > li.menu-item-has-children.active {
    border-bottom: 1px solid #dddddd;
}
.menu-mobile-row ul.menu > li.menu-item-has-children.active:last-child {
    border-bottom: none;
}
.menu-mobile-row ul.menu > li.menu-item-has-children.active:last-child > a {
    border-bottom: 1px solid #dddddd;
}
.menu-mobile-row ul.menu > li.menu-item > a > img {
    width: 20px !important;
    height: auto !important;
    margin-right: 3px;
}
.menu-mobile-row ul.menu li.menu-item-has-children {
    position: relative;
}
.menu-mobile-row ul.menu li.menu-item-has-children > i.icon-caret-down {
    position: absolute;
    top: 7px;
    right: 0;
    font-style: normal;
}
.menu-mobile-row ul.menu li.menu-item-has-children > i.icon-caret-down:before {
    content: "\ea67";
    font-family: IcoFont !important;
    float: right;
    margin-left: 3px;
    transition: all 0.4s;
}
.menu-mobile-row ul.menu li.menu-item-has-children.active > i.icon-caret-down:before {
    content: "\ea6a";
}
.menu-mobile-row ul.menu li.menu-item-has-children > ul.sub-menu {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.6s ease, background 0.5s ease;
    transition-delay: 0.08s;
    padding-left: 15px !important;
}
.menu-mobile-row ul.menu li.menu-item-has-children.active > ul.sub-menu {
    height: auto;
    opacity: 1;
    transition-delay: 0.08s;
}
.menu-mobile-row ul.menu li.menu-item img.img-flag {
    width: 18px !important;
}
}

/* Footer */

#footer {
    background-color: #1C1C1C;
}
#footer h3.footer-title {
    font-size: 18px;
    margin-bottom: 15px;
}
#footer a, #footer li, #footer p, #footer h2, #footer h3 {
    color: #ffffff;
}
#footer a, #footer li, #footer p {
    font-size: 16px;
    font-weight: 300;
}
#footer .footer-row {
    padding: 70px 0 30px;
    display: grid;
    grid-template-columns: 30% 20% 2fr 1fr;
    grid-gap: 30px;
}
.footer-column-1 img.footer-logo {
    margin-bottom: 20px;
}
.footer-column-1 h3 {
    font-size: 24px;
    margin-bottom: 10px;
}
.footer-column-1 p {
    margin-bottom: 0;
}
#footer .footer-row ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.footer-column-2 ul.menu > li {
    margin-bottom: 6px;
}
.footer-column-2 ul.menu > li:last-child {
    margin-bottom: 0;
}
.footer-column-2 ul.menu > li ul.sub-menu {
    display: none;
}
.footer-column-2 ul.menu > li:before {
    content: "\ea8c";
    font-family: IcoFont;
    margin-right: 8px;
}
.footer-column-3 ul.footer-contact {
    margin-bottom: 15px !important;
    padding-left: 23px !important;
}
.footer-column-3 ul.footer-contact > li i {
    margin-right: 3px;
    margin-left: -23px;
}
.footer-column-3 ul.contact-social {
    margin-bottom: 15px !important;
    display: flex;
    align-items: center;
}
.footer-column-3 ul.contact-social > li {
    margin-right: 12px;
}
.footer-column-3 ul.contact-social > li:last-child {
    margin-right: 0;
}
.footer-column-3 ul.contact-social > li > a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    color: #000000 !important;
    border-radius: 50%;
    font-size: 18px !important;
}
.footer-column-4 .qr-code img {
    width: 155px;
}
#footer .footer-copyright {
    padding: 10px 0;
}
.footer-copyright {
    color: #ffffff;
    text-align: center;
    font-size: 14px;
}

/* Page Title */

.main-head {
    padding: 25px 0;
    background-color: #1C1C1C;
}
.page-title {
    text-align: center;
}
.page-title h2.title {
    font-size: 34px;
    color: #ffffff;
    margin-bottom: 0;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.page-title .sub-title {
    display: block;
    font-size: 28px;
    font-weight: 400;
    color: #f3071f;
}

/* Body */

:focus {
    outline: unset;
}
a.btn-primary {
    background-color: #f3071f;
    color: #ffffff;
    border: none;
    width: fit-content !important;
    padding: 10px 50px;
    border-radius: 30px;
    display: inline-block;
    height: unset;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
    transition: all 0.4s;
}
a.btn-primary:hover {
    background-color: #e60b21;
    opacity: 1;
}
a.btn-gradient {
    background: rgb(167,169,172);
    background: linear-gradient(90deg, rgba(167,169,172,1) 0%, rgba(221,221,221,1) 22%, rgba(236,236,236,1) 30%, rgba(206,208,209,1) 43%, rgba(199,202,207,1) 57%, rgba(237,237,237,1) 70%, rgba(167,169,172,1) 100%);
    color: #000000;
    border: none;
    width: fit-content !important;
    padding: 10px 50px;
    border-radius: 30px;
    display: inline-block;
    height: unset;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
    transition: all 0.4s;
}
a.btn-gradient:hover {
    opacity: 0.9;
}
a.btn-border-primary {
    background-color: #ffffff;
    color: #f3071f;
    border: none;
    width: fit-content !important;
    padding: 8px 50px;
    border-radius: 30px;
    display: inline-block;
    height: unset;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
    transition: all 0.4s;
    border: 2px solid #f3071f;
}
a.btn-border-primary:hover {
    background-color: #f3071f;
    color: #ffffff;
    opacity: 1;
}
.head-title-page {
    text-align: center;
    padding: 25px 0;
    background-color: #f3071f;
    color: #ffffff;
}
.head-title-page h1 {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 32px;
}
.content-section {
    padding: 80px 0;
    position: relative;
}
.form-control .form-col input, .form-control .form-col textarea {
    padding: 10px;
    display: block;
    width: 100%;
    border: 2px solid #BBBDC0;
    border-radius: 8px;
    font-size: 16px;
    font-family: 'Kanit', sans-serif;
    color: #333;
}
.form-control .form-col textarea {
    height: 200px;
}
.form-control .form-col input::placeholder, , .form-control .form-col textarea::placeholder {
    font-family: 'Kanit', sans-serif;
    color: #333;
}
.form-control .form-col {
    margin-bottom: 10px;
}
.form-control .form-submit input {
    font-size: 22px;
}
.form-control .form-submit input {
    background-color: #f3071f;
    color: #ffffff;
    border: none;
    width: fit-content !important;
    padding: 10px 50px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: unset !important;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.4s;
}
.form-control .form-submit input:hover {
    background-color: #e60b21;
}

.form-control .form-text > span {
    display: block;
}
.form-control .form-text > span > strong {
    display: block;
    font-weight: 300;
}
.form-control .form-text > span > strong > a {
    text-decoration: underline;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000073;
    transition: background-color 0.2s ease-in-out;
}
.alert-box {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 100%;
    margin: 0 auto;
}
.alert-box .alert-box-image img {
    width: 600px;
    height: 390px;
}
.alert-box > .alert-box-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.alert-box > .alert-box-text h3 {
    font-size: 24px;
    margin-bottom: 20px;
}
.alert-box > .alert-box-text p {
    font-size: 18px;
    margin-bottom: 20px;
}
.box-radius {
    width: fit-content;
    margin: 0 auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 30px;
    border: 2px solid #BBBDC0;
}
input.hp-check[type="checkbox"] {
    width: 0;
    height: 40px;
    position: relative;
    margin-right: 80px;
    cursor: pointer;
}
input.hp-check[type="checkbox"]:before, input.hp-check[type="checkbox"]:after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid #929497;
    background-color: #ffffff;
}
input.hp-check[type="checkbox"]:checked:after {
    content: "\eed6";
    font-family: IcoFont !important;
    font-size: 41px;
    color: #929497;
}
#home-col-top {
    padding: 11em 0;
    background-image: url(https://dmu-p2614947.github.io/GymInTouch/assets/img/bg-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#home-col-top > .container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}
#home-col-top > .container > .column {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 3px 6px #00000059;
}
#home-col-top > .container > .column h3 {
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    background: linear-gradient(0deg, #071119d4 35%, rgba(7, 17, 25, 0) 100%);
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    text-shadow: 0 0 16px #94e5ff;
}
#home-about {
    background-color: #000000;
}
#home-about .container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
}
#home-about .container > .column {
    width: 100%;
}
#home-about .column-left img {
    box-shadow: 0px 0px 10px 2px #ffffff75;
    border-radius: 30px;
}
#home-about h2 {
    color: #ffffff;
    text-align: left;
    margin-bottom: 15px;
    font-size: 36px;
}
#home-about p {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 8px;
}
#home-about .container > .column-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
h2.head-title {
    text-align: center;
    font-size: 42px;
    text-transform: uppercase;
    margin-bottom: 35px;
}
#home-location {
    background-image: url(https://dmu-p2614947.github.io/GymInTouch/assets/img/bg-3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
#home-location:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000087;
}
#home-location .container {
    z-index: 2;
    position: relative;
}
#home-location h2.head-title {
    color: #ffffff;
}
#home-location .search-map {
    background-color: #ffffff;
    padding: 50px;
    border-radius: 30px;
    box-shadow: 0 2px 7px #cccccc45;
}
#home-location .search-form {
    text-align: center;
    margin-bottom: 30px;
}
#home-location input[type="text"] {
    padding: 10px 20px;
    display: block;
    width: 50%;
    border: 2px solid #BBBDC0;
    border-radius: 30px;
    font-size: 16px;
    font-family: 'Kanit', sans-serif;
    color: #333;
}
#home-location .search-form > form {
    display: flex;
    justify-content: center;
}
#home-location button {
    background-color: #f3071f;
    border: none;
    margin-left: 8px;
    border-radius: 30px;
    padding: 0 30px;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    font-weight: 400;
    transition: all 0.4s;
}
#home-location button:hover {
    background-color: #e60b21;
}
#home-gallery {
    background-image: url(https://dmu-p2614947.github.io/GymInTouch/assets/img/bg-2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.gallery > ul {
    display: grid;
    padding: 0;
    margin: 0;
    list-style: none;
}
.gallery.column-3 > ul {
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}
.gallery > ul > li {
    position: relative;
    padding-top: 60%;
    box-shadow: 0 6px 10px #cccccc45;
    border-radius: 15px;
    overflow: hidden;
}
.gallery > ul > li img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
    -o-object-fit: cover;
    object-fit: cover;
    font-family: 'object-fit: cover;';
}
#home-contact {
    background-color: #f5f5f5;
}
#home-contact form.form-control > .form-col {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-gap: 15px;
}
#home-contact form.form-control > .form-col.form-submit {
    margin-bottom: 0;
}
#home-contact form.form-control > .form-col > label {
    margin-top: 12px;
}
#home-contact .form-control .form-submit input {
    margin-left: 100px;
}
#home-contact .contact-form {
    width: 80%;
    margin: 0 auto;
}
.sl-wrapper.simple-lightbox {
    z-index: 999999;
    background-color: #00000069;
}
.sl-overlay {
    background-color: #000000 !important;
    opacity: 1;
    z-index: 99999 !important;
}
.simple-lightbox .sl-navigation > button, .simple-lightbox button.sl-close {
    width: 45px;
    height: 45px;
    color: transparent;
    border-radius: 50%;
    overflow: hidden;
}
.simple-lightbox .sl-navigation > button:before, .simple-lightbox button.sl-close:before {
    content: "";
    font-family: IcoFont !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: #000000;
    font-size: 24px;
}
.simple-lightbox .sl-navigation > button.sl-prev:before {
    content: "\ea9d";
}
.simple-lightbox .sl-navigation > button.sl-next:before {
    content: "\eaa0";
}
.simple-lightbox button.sl-close:before {
    content: "\eee4";
}
.simple-lightbox .sl-image img {
    border: 5px solid #fff !important;
    border-radius: 3px;
}
.btn-row {
    text-align: center;
    margin-top: 30px;
}


/* Responsive */
@media (max-width: 991px) {
.content-section {
    padding: 50px 0;
}
a.btn-border-primary {
    padding: 5px 20px;
    font-size: 16px;
}
#home-col-top > .container > .column h3 {
    font-size: 16px;
}
#home-about h2 {
    font-size: 26px;
}
#home-about p {
    font-size: 16px;
}
h2.head-title {
    font-size: 34px;
    margin-bottom: 30px;
}
.gallery.column-3 > ul {
    grid-gap: 20px;
}
#footer a, #footer li, #footer p {
    font-size: 14px;
}
.footer-column-1 h3 {
    font-size: 18px;
}
#footer .footer-row {
    padding: 50px 0 30px;
}
#home-col-top {
    padding: 7em 0;
}
.head-title-page {
    padding: 15px 0;
}
.head-title-page h1 {
    font-size: 26px;
}
}

@media (max-width: 767px) {
.content-section {
    padding: 30px 0;
}
input.hp-check[type="checkbox"]:before, input.hp-check[type="checkbox"]:after {
    width: 30px;
    height: 30px;
}
input.hp-check[type="checkbox"]:checked:after {
    font-size: 32px;
}
input.hp-check[type="checkbox"] {
    height: 30px;
    margin-right: 45px;
}
h2.head-title {
    font-size: 28px;
    margin-bottom: 20px;
}
#home-col-top > .container {
    grid-template-columns: repeat(1,1fr);
}
#home-about .container {
    grid-template-columns: repeat(1,1fr);
    grid-gap: 30px;
}
#home-location button {
    color: transparent;
    min-width: 54px;
    max-width: 54px;
    padding: 0;
}
#home-location button i.icofont-ui-search {
    color: #fff;
    position: relative;
    bottom: -13px;
    font-size: 23px;
}
#home-location input[type="text"] {
    width: 100%;
}
#home-location .search-map {
    padding: 30px 25px;
    border-radius: 20px;
}
.gallery.column-3 > ul {
    grid-template-columns: repeat(2,1fr);
}
#footer .footer-row {
    padding: 30px 0 30px;
    grid-template-columns: repeat(1,1fr);
}
#home-contact form.form-control > .form-col {
    grid-template-columns: 80px 1fr;
    grid-gap: 5px;
}
#home-contact .contact-form {
    width: 100%;
}
.form-control .form-col textarea {
    height: 120px;
}
#home-col-top {
    padding: 30px 0;
}
}
